<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhangyj.db.insert.mapper.InsertMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhangyj.db.bean.entity.InsertMsg">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="TYPE" property="type" />
        <result column="EXDATA" property="exdata" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, TYPE, EXDATA, CREATE_TIME, UPDATE_TIME
    </sql>

    <delete id="truncateTable">
        truncate table  INSERT_MSG
    </delete>

</mapper>
